.footer {
    background: #232323;
    box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.10);
    padding: 32px;
}
.footer-content {
    background: #232323;
}
h1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: inherit;
}
.footer-links {
    background: inherit;
}
a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #dfdfdf;
    text-decoration: none;
    padding: 0px 10px;
    background: inherit;
}