<div class="container">
    <div class="row mt-3 hero">
        <div class="col-lg d-flex justify-content-center">
            <div class="hero-main m-auto">
                <h1>Cloud Computing Developers Trust</h1>
                <div class="hero-text">
                Build, run, and secure your cloud workloads on <strong>SuperNet Connected Cloud,</strong> a massively distributed edge and cloud platform. <span>Sign up today</span> or <span>contact us</span> to learn more
                </div>
            </div>
        </div>

        <div class="col-lg sign-up d-flex justify-content-center">
            <div class="row signup-form">
                <button class="google">
                    <img src="../../assets/Google Logo.png" alt="" class="google-img">
                    Sign Up with Google
                </button>
                <div class="divider"></div>
                <button class="github">
                    <img src="../../assets/GitHub Logo.png" alt="" class="github-img">
                    Github
                </button>
                <button class="github">
                    <img src="../../assets/Email Icon (2) 1.png" alt="" class="github-img">
                    Email
                </button>

                <div class="signup-text">
                    By providing your email address or using a single sign-on provider to create an account, you agree to our <span>Terms of Service</span> and that you have reviewed our <span>Privacy Policy</span> and <span>Cookie Policy.</span>
                </div>
            </div>
        </div>
    </div>



    <!-- features -->
    <div class="mt-5 d-flex justify-content-center">
        <div class="feature mt-5">
            <h1>Features</h1>
            <div class="hero-text mt-3">
                From edge locations world wide, to unparalleled security and DDOS protection, we’ve got you covered.
            </div>
        </div>
    </div>

    

    <div class="row mt-5 g-3">
        <div class="col-md-6">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="card-text">
                                <h5 class="mt-3">EDGE NETWORK</h5>
                                <p class="mt-4">Discover our industry leading edge network, with over 300 edge nodes scattered around the globe.<br><br>Give your customers the best performance in every corner of the world.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 cards-img">
                        <img src="../../assets/Edge-Network.png" alt="">
                    </div>
                </div>
            </div>
        <div class="col-md-6">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="mt-3">SECURITY</h5>
                            <p class="mt-4">Stay safe from threats without slowing down.<br><br>SuperNet surrounds and protects your entire ecosystem — clouds, apps, APIs, and users.
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 cards-img">
                    <img src="../../assets/Security.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- feature second row -->
    <div class="row mt-2 g-3">
        <div class="col-md-6">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="mt-3">DDOS PROTECTION</h5>
                            <p class="mt-4">Highly rated web, application & network DDoS protection.<br><br>Keeping bots and malicious users at bay.
                            </p>
                            <br><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 cards-img">
                    <img src="../../assets/DDOS Protection.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="mt-3">BACKUPS</h5>
                            <p class="mt-4">Fully managed automatic daily, weekly, and biweekly backups of your Compute Instances.<br><br>Have peace of mind knowing that your data is always safe.
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 cards-img">
                    <img src="../../assets/Backups.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- Edge Network -->
    <div class="mt-5 d-flex justify-content-center">
        <div class="edge-network mt-3">
            <h1>Edge Network</h1>
            <div class="hero-text mt-5">
                Scale your business on the most distributed compute, security, and delivery platform — from cloud to edge. New core compute regions launched. <span>Learn more.</span>
            </div>
        </div>
    </div>
    <img src="../../assets/Edge Network Map.png" alt="" class="mt-5">



    <!-- Pricing -->
    <div class="mt-5 d-flex justify-content-center">
        <div class="pricing">
            <h1>Pricing</h1>
            <div class="hero-text mt-5">
                Cut your cloud bills in half with bundled extras like DDoS Protection, cloud firewalls, and generous transfer.
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <div class="row pricing-card ">
            <div class="col-lg-4 card-one">
                <div class="background-light">
                    <div class="light-text">
                        $9/mo<br>Standard
                    </div>
                </div>
                <div class="wave"></div>
                <div class="background-dark">
                    <div class="dark-text">
                        10 GB of space<br>
                        Unlimited Traffic<br>
                        Forum Access<br>
                        Support at $25/hour
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 card-one">
                    <div class="card-two-background-light">
                        <div class="card-two-light-text">
                            $49/mo<br>Standard
                        </div>
                    </div>
                    <div class="wave"></div>
                    <div class="background-dark">
                        <div class="dark-text">
                            30 GB of space<br>
                            Unlimited Traffic<br>
                            Forum Access<br>
                            Support at $5/hour
                        </div>
                    </div>
            </div>
            
            <div class="col-lg-4 card-one">
                <div class="background-light">
                    <div class="card-three-light-text">
                        $159/mo<br>Enterprise
                    </div>
                </div>
                <div class="wave"></div>
                <div class="background-dark">
                    <div class="dark-text">
                        50 GB of space<br>
                        Unlimited Traffic<br>
                        Forum Access<br>
                        Support at $25/hour
                    </div>
                </div>
            </div>
    </div>

</div>



<div class="contact mt-5">
    <h4>Ready to get started or have questions?</h4>
    <p>Set up your free account today or contact a sales consultant to learn more.</p>
    <div class="action">
        <button class="create">Create Account</button>
        <button class="contact-sales">Contact Sales</button>
    </div>
</div>
