/* You can add global styles to this file, and also import other style files */
* {
    background-color: #292929;
    color: #DFDFDF;
}
body {
    height: 100vh;
    background-color: #292929 !important;
}